<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOG_FILE" value="LogFile"/>
    <property name="LOG_DIR" value="logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %-5level %logger{36} - %msg at %d{"EEE, MMM dd, hh:mm:ss a"}%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Added a date token %d{yyyy-MM-dd} so Logback knows when to roll by day -->
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- Each file can be up to 10MB before rolling into an incremented index -->
            <maxFileSize>10KB</maxFileSize>
            <!-- Total history to keep -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%thread] %-5level %logger{36} - %msg at %d{"EEE, MMM dd, hh:mm:ss a"}%n</pattern>
        </encoder>
    </appender>

    <logger name="com.bansi.consuming_rest.aspect" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>